name: ts

on:
  pull_request:
    paths:
      - src/**
      - tests/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/ts.yaml
  push:
    branches:
      - main
    paths:
      - src/**
      - tests/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/ts.yaml

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm test
      - run: pnpm build

      - name: int128/send-datadog-action
        uses: ./
        with:
          datadog-api-key: ${{ secrets.DATADOG_API_KEY }}
          metric-name: send_datadog_action.run
          metric-type: count
          metric-value: 1
          metric-tags: |
            github.event_name:${{ github.event_name }}
            github.repository:${{ github.repository }}
            github.actor:${{ github.actor }}
          event-title: GitHub Actions ${{ github.event_name }}
          event-text: workflow ${{ github.workflow }}, job ${{ github.job }}
          event-alert-type: warning
          event-tags: |
            github.event_name:${{ github.event_name }}
            github.repository:${{ github.repository }}
            github.actor:${{ github.actor }}

      - name: int128/send-datadog-action (simple csv)
        uses: ./
        with:
          datadog-api-key: ${{ secrets.DATADOG_API_KEY }}
          metrics-csv-path: tests/fixtures/metrics.csv

      - name: int128/send-datadog-action (use-header-tags csv)
        uses: ./
        with:
          datadog-api-key: ${{ secrets.DATADOG_API_KEY }}
          metrics-csv-path: tests/fixtures/metrics_with_header_tags.csv
          metrics-csv-format: use-header-tags

  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm biome check --fix
      - uses: int128/update-generated-files-action@d9aac571db84cee6c16fa20190621e9deb2bc575 # v2.67.0
