name: ts

on:
  pull_request:
    paths:
      - src/**
      - tests/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/ts.yaml
  push:
    branches:
      - main
    paths:
      - src/**
      - tests/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/ts.yaml

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm test
      - run: pnpm build

      - name: int128/send-datadog-action
        uses: ./
        with:
          datadog-api-key: ${{ secrets.DATADOG_API_KEY }}
          metric-name: send_datadog_action.run
          metric-type: count
          metric-value: 1
          metric-tags: |
            github.event_name:${{ github.event_name }}
            github.repository:${{ github.repository }}
            github.actor:${{ github.actor }}
          event-title: GitHub Actions ${{ github.event_name }}
          event-text: workflow ${{ github.workflow }}, job ${{ github.job }}
          event-alert-type: warning
          event-tags: |
            github.event_name:${{ github.event_name }}
            github.repository:${{ github.repository }}
            github.actor:${{ github.actor }}

      - name: int128/send-datadog-action (simple csv)
        uses: ./
        with:
          datadog-api-key: ${{ secrets.DATADOG_API_KEY }}
          metrics-csv-path: tests/fixtures/metrics.csv

      - name: int128/send-datadog-action (use-header-tags csv)
        uses: ./
        with:
          datadog-api-key: ${{ secrets.DATADOG_API_KEY }}
          metrics-csv-path: tests/fixtures/metrics_with_header_tags.csv
          metrics-csv-format: use-header-tags

  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm run check
      - uses: int128/update-generated-files-action@d3f65c7154e5db6d92286d52217476f469239629 # v2.80.0
